<!-- Advantages Section -->
<section class="success" id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Vantagens</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>A fase de prototipação no desenvolvimento de novos produtos é muito importante e serve como um meio
          para validar hipóteses de mercado. </p>
          <p>O protótipo é uma forma de testar a viabilidade do produto antes
          de investir em um desenvolvimento mais complexo.</p> 
          <p> Com o protótipo, a empresa consegue avaliar melhor quando seguir ou não com um novo produto. </p>
          <p>A prototipação é crucial para entender a complexa interação entre o usuário final e a solução.</p>
      </div>
      <div class="col-lg-4">
        <p>Uma prova de conceito (POC - Proof of Concept) é uma ferramenta essencial para testar a solução em clientes chaves e confirmar
          a necessidade real de requisitos.</p>
          <p>Uma POC é geralmente construida a partir de um lote piloto de protótipos.
          Os feedbacks dos clientes sobre a POC são essenciais para confirmar as principais funcionalidades de um projeto. </p>
          <p>Esse conjunto de funcionalidades é o que define o escopo do Produto Mínimo Viável (MVP - Minimum Viable Product).</p>
           </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
